{
	"trailingComma": "es5",
	"printWidth": 100,
	"useTabs": false,
	"tabWidth": 2,
	"semi": true,
	"singleQuote": true,
	"endOfLine": "crlf",
	"quoteProps": "preserve",
	"bracketSpacing": true,
	"arrowParens": "always",
	"rangeStart": 0,
	"requirePragma": false,
	"insertPragma": false,
	"proseWrap": "preserve",
	"htmlWhitespaceSensitivity": "ignore",
	"jsxSingleQuote": true
}
